body{
  background-color: black;
  font-family:"Comic Sans MS", "cursive", "sans-serif";
  color: green;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: black;
}

h1 {
  font-family:"Chalkduster","Comic Sans MS", "cursive", "sans-serif";
  color: green;
}

form {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  color: white;
  background-color: black;
}
