h1{
font-family: arial;
color: green;
text-align: center;
}

h2{font-family: arial;
color: green;
text-align: center;
}

h3{font-family: arial;
color: green;
text-align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: black;
}

<style>
.scrolling {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.scrolling h3 {
 font-size: 3em;
 color: limegreen;
 position: absolute;
 width: 100%;
 height: 20%;
 margin: 10px ;
 line-height: 25px;
 text-align: right;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
</style>
